

  .App {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player {
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: #2F2C2C;
    border-style: solid;
    border-radius: 5%;
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 120px;
    height: 550px;
    width: 430px;
  }

  .player h4 {
    margin-left: 165px;
    color: white;
    font-size: 20px;
  }


  img {
    width: 200px;
    height: 200px;
    margin-left: 120px;
    border-radius: 50%;
  }
  

  .song-name {
    margin-bottom: 0;
    color: white;
    font-size: 30px;
    text-align: center;
  }

  .song-artist {
    text-align: center;
    color: #C0C8CF;
  }

  .player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .skip-back-bttn, .skip-foward-bttn {
    border: none;
    background: none;
    color: #C0C8CF;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }



  .skip-back-bttn:hover, .skip-foward-bttn:hover {
    color: white;
  }

  .play-bttn {
    border: none;
    background: none;
    color: white;
    transition: transform .2s;
    position: absolute;
    
  }

  
  .play-bttn:hover {
    transform: scale(1.2);
  }

  .song-que {
    color: white;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
  }
